/*

This document is written in BEM.
Block = .block
Element = .block__element
Modifier = .block__element--modifier || .block--modifier

*/

/* Block ******************************************************************/
.container{
  height: 550px;
  width: 900px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameboard {
  height: 520px;
  width: 550px;
  position: absolute;
  top: 10px;
  left: 200px;
  border-radius: 20px;
  z-index: -10;
}

.text {
  color: white;
  font-size: 80px;
  text-align: center;
}

/* Element ****************************************************************/
.container__background{
  background-image: url(https://s20.postimg.org/iub5so5tp/black-and-white-board-play-texture-line-blackboard-1202308-pxher.jpg);
  background-size: cover;
  z-index: 10;
}

.container__playerSelect {
  z-index: 20;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
}

.playerSelect__icon {
  position: absolute;
  top: 60%;
  width: 90%;
  left: 5%;
}

.gameboard__row {
height: 173px;
width: 550px;
position: absolute;
left: 0;
}

.gameboard__box {
  width: 183px;
  height: 173px;
  position: absolute;
  cursor: pointer;
}

/* Modifier ***************************************************************/
.html--zindex{
  z-index: -100
}

.background--outer {
  background-color: #050510;
}

.text--playerSelect {
  margin: 10px;
  padding: 0;
  position: relative;
  left: 30px;
  top: 80px;
}

.playerSelect__icon--o {
   width: 50%;
   position: absolute;
   left: 0;
   cursor: pointer;
}

.playerSelect__icon--x {
  width: 50%;
  position: absolute;
  right: 0;
  cursor: pointer;
}

.gameboard__row--0 {
top: 0;
}

.gameboard__row--1 {
top: 173px;
}

.gameboard__row--2 {
top: 346px;
}

.gameboard__box--0 {
  left: 0;
  width: 173px;
}

.gameboard__box--1 {
  left: 173px;
}

.gameboard__box--2 {
  left: 366px;
}

.gameboard__box--3 {
  left: 0;
  width: 173px;
}

.gameboard__box--4 {
  left: 173px;
}

.gameboard__box--5 {
  left: 366px;
}

.gameboard__box--6 {
  left: 0;
  width: 173px;
}

.gameboard__box--7 {
  left: 173px;
}

.gameboard__box--8 {
  left: 366px;
}
